@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa; /* Zinc-50 */
    color: #18181b; /* Zinc-900 */
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7; /* Zinc-200 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* Zinc-400 */
}